.bgimage {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 19px}
.toptitle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}
a:link {  color: #0099FF; text-decoration: none}
a:visited {  color: #0066CC; text-decoration: none}
a:hover {  color: #00CCCC; text-decoration: none}
.prosa {  text-indent: 40pt}
table {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}
td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}
